repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.10
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: ty-check
        name: ty-check
        language: python
        entry: ty check src tests
        pass_filenames: false
        additional_dependencies: [ty]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args:
          - --skip=src/rendercv/schema/models/locale/other_locales/*
          - --exclude-file=schema.json
