# Every modern Python package today has a `pyproject.toml` file. It is a Python
# standard. `pyproject.toml` file contains all the metadata about the package. It also
# includes the dependencies and required information for building the package. For more
# details, see https://pip.pypa.io/en/stable/reference/build-system/pyproject-toml/.

[build-system]
# If a code needs to be distributed, it might need to be compiled, or it might need to
# be bundled with other files. This process of making a code ready for distribution is
# called building.

# Python packages need to be built too, even though they are not compiled (mostly). At
# the end of the building process, a source distribution package (sdist) and a built
# distribution package (in Wheel format) are created.
# See https://packaging.python.org/en/latest/tutorials/packaging-projects/ for details.
# Built Distribution:
# https://packaging.python.org/en/latest/glossary/#term-Built-Distribution
# Source Distribution:
# https://packaging.python.org/en/latest/glossary/#term-Source-Distribution-or-sdist

# To build RenderCV, we need to specify which build package we want to use. There are
# many build packages like `setuptools`, `flit`, `poetry`, `hatchling`, etc. We will use
# `uv_build`.
requires = [
    "uv_build>=0.8.15,<0.9.0",
] # List of packages that are needed to build RenderCV

# Python has a standard object format called build-backend object. Python standard asks
# this object to have some specific methods that do a specific job. For example, it
# should have a method called `build_wheel` that builds a wheel file.
# See https://peps.python.org/pep-0517/
build-backend = "uv_build" # A build-backend object for building RenderCV

[tool.hatch.build.targets.sdist]
# In the sdist, what do we want to exclude? Gif files are huge.
exclude = ["*.gif"]

[tool.hatch.build.targets.wheel]
# In wheel, what do we want to include and exclude?
packages = ["rendercv"]

[project]
# Under the `project` section, we specify the metadata about RenderCV.
name = 'rendercv'
description = 'Typst-based CV/resume generator'
authors = [{ name = 'Sina Atalay', email = 'dev@atalay.biz' }]
license = "MIT"
readme = "README.md"
requires-python = '>=3.10'
# RenderCV depends on these packages. They will be installed automatically when RenderCV
# is installed:
dependencies = [
    'Jinja2>=3.1.6',                 # to generate Typst and Markdown files
    'phonenumbers>=9.0.16',          # to validate phone numbers
    'email-validator>=2.3.0',        # to validate email addresses
    'pydantic>=2.12.3',              # to validate and parse the input file
    'pycountry>=24.6.1',             # for ISO 639-3 validation
    'pydantic-extra-types>=2.10.6',  # to validate some extra types
    'ruamel.yaml>=0.18.16',          # to parse YAML files
]
classifiers = [
    "Intended Audience :: Science/Research",
    "Intended Audience :: Education",
    "Topic :: Text Processing :: Markup",
    "Topic :: Printing",
    "Development Status :: 5 - Production/Stable",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Programming Language :: Python :: 3.14",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
] # go to https://pypi.org/classifiers/ to see all classifiers

[project.optional-dependencies]
full = [
    'typer>=0.20.0',   # to create the command-line interface
    "markdown>=3.9",   # to convert Markdown to HTML
    "watchdog>=6.0.0", # to poll files for updates
    "typst>=0.13.7",   # to render PDF from Typst source files
    "packaging>=25.0", # to validate the version number
    "rendercv-fonts",  # some font files for RenderCV
]

[project.urls]
# Here, we can specify the URLs related to RenderCV. They will be listed under the
# "Project links" section in PyPI. See https://pypi.org/project/rendercv/
"Web App" = 'https://rendercv.com'
Source = 'https://github.com/rendercv/rendercv'
Documentation = 'https://docs.rendercv.com'
Changelog = 'https://docs.rendercv.com/changelog'

[project.scripts]
# Here, we specify the entry points of RenderCV.
# See https://packaging.python.org/en/latest/specifications/entry-points/#entry-points
# See https://hatch.pypa.io/latest/config/metadata/#cli

# The key and value below mean this: If someone installs RenderCV, then running
# `rendercv` in the terminal will run the function `app` in the module `cli` in the
# package `rendercv`.
rendercv = 'rendercv.cli:app'

# Virtual Environment Dependencies:
[dependency-groups]
dev = [
    "ruff>=0.14.1",        # to lint and format the code
    "black>=25.9.0",       # to format the code
    "pyright>=1.1.406",    # to check the types
    "pre-commit>=4.3.0",   # to run the checks before committing
    "pytest>=8.4.2",       # to run the tests
    "coverage>=7.11.0",    # to generate coverage reports
    "pypdf>=6.1.3",        # to read PDF files
    "snakeviz>=2.2.2",     # for profiling
    "pyinstaller>=6.16.0", # to build the executable
]
docs = [
    "mkdocs-material>=9.6.20",
    "mkdocstrings[python]>=0.30.1", # to build reference documentation from docstrings
    "pdfCropMargins>=2.2.3",        # to generate entry figures for the documentation
    "pillow>=10.4.0",               # lock the dependency of pdfCropMargins
    "mkdocs-macros-plugin>=1.4.0",  # to be able to have dynamic content in the documentation
    "PyMuPDF>=1.26.5",             # to convert PDF files to images    
]
exe = [
    "pyinstaller>=6.16.0", # to build the executable
]

# Tools Settings:

# RenderCV uses different tools to check the code quality, format the code, build the
# documentation, build the package, etc. We can specify the settings for these tools in
# `pyproject.toml` file under `[tool.name_of_the_tool]` so that new contributors can use
# these tools easily. Generally, popular IDEs grab these settings from `pyproject.toml`
# file automatically.

[tool.ruff]
line-length = 88

[tool.ruff.format]
docstring-code-format = true

[tool.ruff.lint]
extend-select = [
    "B",   # flake8-bugbear
    "I",   # isort
    "ARG", # flake8-unused-arguments
    "C4",  # flake8-comprehensions
    "EM",  # flake8-errmsg
    "ICN", # flake8-import-conventions
    "ISC", # flake8-implicit-str-concat
    "G",   # flake8-logging-format
    "PGH", # pygrep-hooks
    "PIE", # flake8-pie
    "PL",  # pylint
    "PT",  # flake8-pytest-style
    "PTH", # flake8-use-pathlib
    "RET", # flake8-return
    "RUF", # Ruff-specific
    "SIM", # flake8-simplify
    "T20", # flake8-print
    "UP",  # pyupgrade
    "YTT", # flake8-2020
    "EXE", # flake8-executable
    "NPY", # NumPy specific rules
    "PD",  # pandas-vet
]
ignore = [
    "PLR",    # Design related pylint codes
    "ISC001", # Conflicts with formatter
    "UP007",  # I like Optional type
    "PGH003", # It would be nice to not ignore this
]
flake8-unused-arguments.ignore-variadic-names = true

[tool.black]
line-length = 88 # maximum line length
preview = true # to allow enable-unstable-feature
enable-unstable-feature = [
    "string_processing",
] # to break strings into multiple lines

[tool.pyright]
typeCheckingMode = "standard"
enableTypeIgnoreComments = false
reportUnnecessaryTypeIgnoreComment = true
reportIncompatibleVariableOverride = false
reportIncompatibleMethodOverride = false
reportMissingTypeStubs = false
reportPrivateUsage = false
exclude = ["rendercv/themes/*"]

[tool.coverage.run]
source = ['rendercv']             # The source to measure during execution
concurrency = ['multiprocessing'] # For watcher tests

# Use relative paths instead of absolute paths, this is useful for combining coverage
# reports from different OSes:
relative_files = true

[tool.coverage.report]
# Don't include jinja templates in the coverage report:
omit = ["*.j2.*", "rendercv/__main__.py"]

# Don't include these lines in the coverage report:
exclude_lines = ["if __name__ == .__main__.:"]

[tool.pytest.ini_options]
log_cli_level = "INFO"
xfail_strict = true
addopts = [
    "-ra",              # Show extra test summary info for all tests
    "-v",               # Increase verbosity
    "--strict-markers", # Don't allow unknown markers
    "--strict-config",  # Always fail if there are unknown configuration options
]
testpaths = ["tests"]
